mixin doing(data)
    section.doing&attributes(attributes)
        .doing__in.in
            h2.doing__title.title.title_big <span>What</span> are we doing
            ul.doing__list
                li.doing__item
                    .doing__icon
                        img.lazy(data-src="assets/images/general/doing-1.svg", alt="")
                    .doing__text
                        p We are a global brand management and PR marketing agency that provide marketing solutions for universities.
                li.doing__item
                    .doing__icon
                        img.lazy(data-src="assets/images/general/doing-2.svg", alt="")
                    .doing__text
                        p We strive to help universities, business schools, high schools and language schools to get awareness on their target markets and get more enrollments from each region.
                li.doing__item
                    .doing__icon
                        img.lazy(data-src="assets/images/general/doing-3.svg", alt="")
                    .doing__text
                        p We help students get to know your institution by empowering them with facts and data on your programs and courses combined with professional advice from verified student advisors.
                li.doing__item
                    .doing__icon
                        img.lazy(data-src="assets/images/general/doing-4.svg", alt="")
                    .doing__text
                        p We assist educational institutions in finding & engaging the right students from their target markets.
                li.doing__item
                    .doing__icon
                        img.lazy(data-src="assets/images/general/doing-5.svg", alt="")
                    .doing__text
                        p We help universities to identify the student that have the most potential to succeed and our targeted recruitment strategies let them concentrate on the most qualified applicants, simplifying the student recruitment process.
                li.doing__item
                    .doing__icon
                        img.lazy(data-src="assets/images/general/doing-6.svg", alt="")
                    .doing__text
                        p We understand the needs and pains of recruiting students for universities and help you target the ones that are your target audience.
