mixin popup(data)
    #success.popup.mfp-hide
        h2.popup__title Thanks you
        .popup__text Our experts will contact you shortly


    #fail.popup.mfp-hide
        h2.popup__title Sothing went wrong
        //- .popup__text Sothing went wrong

