mixin service(data)
    section.service.section&attributes(attributes)
        .section__in.in
            h2.section__title.title.title_big <span>Our</span> service includes:

            .section__row
                .section__content
                    ul.section__list(data-title="service")
                        li.section__item – Design and development of a landing page for the event (example:<br/><a href="//genevabusinessschool.ru">http://genevabusinessschool.ru</a>
                        li.section__item – Help to find a location at the best quote
                        li.section__item – Integration with your CRM
                        li.section__item – Advertising campaign aimed at generating interest among perspective local students, interested in studying in your institution, to visit the event
                        li.section__item – A guaranteed number of 35-50 attendees

                        li.section__item – Report with all the stats on conversions and campaigns visuals and channels

                        li.section__item – All leads (students, who register on the landing page) will be transferred to you
                        li.section__item – All students will receive text messages one day before the event and 1-2 email reminders
                        li.section__item – We expect to generate 150+ leads for the event
                .section__image(data-title="service")
                    img.lazy(data-src="assets/images/content/service-img.jpg", alt="")