mixin footer(data)
    footer.footer
        .footer__in.in
            .footer__top
                a.footer__logo.logo(href="#")
                    img(src='assets/images/general/logo.png', srcset='assets/images/general/logo@2x.png 2x, assets/images/general/logo@3x.png 3x' alt="Study match")

                .footer__contacts
                    a.footer__item(href="tel:+79507433862") +7 950 743 38 62
                    a.footer__item(href="tel:+79507433861") +7 950 743 38 61
                    a.footer__item(href="mailto:studymatchservis@mail.ru") studymatchservis@mail.ru

            .footer__copyright © Все права защищены 2019