mixin reviews(data)
    section.reviews&attributes(attributes)
        .reviews__in.in
            h2.reviews__title.title.title_big <span>Partner</span> reviews

            ul.reviews__carousel

                li.reviews__item
                    .reviews__item-w      
                        .reviews__icon
                            img(src="assets/images/content/partner-1.png" alt="")
                        .reviews__content 
                            .reviews__item-title Lemania school, switzerland
                            .reviews__text “We started working with Study Match a few months ago and they’ve already proved themselves to be a very professional partner that helps us to run lead generation and digital marketing campaigns in the Middle East and Russian markets. What we like about them is that they use non-traditional ways of marketing and the results are way better than we used to have in the past.”


                li.reviews__item
                    .reviews__item-w
                        .reviews__icon
                            img(src="assets/images/content/partner-2.png" alt="")
                        .reviews__content 
                            .reviews__item-title Lemania school, switzerland
                            .reviews__text “We started working with Study Match a few months ago and they’ve already proved themselves to be a very professional partner that helps us to run lead generation and digital marketing campaigns in the Middle East and Russian markets. What we like about them is that they use non-traditional ways of marketing and the results are way better than we used to have in the past.”


                li.reviews__item
                    .reviews__item-w
                        .reviews__icon
                            img(src="assets/images/content/partner-3.png" alt="")
                        .reviews__content 
                            .reviews__item-title Lemania school, switzerland
                            .reviews__text “We started working with Study Match a few months ago and they’ve already proved themselves to be a very professional partner that helps us to run lead generation and digital marketing campaigns in the Middle East and Russian markets. What we like about them is that they use non-traditional ways of marketing and the results are way better than we used to have in the past.”

                li.reviews__item
                    .reviews__item-w
                        .reviews__icon
                            img(src="assets/images/content/partner-4.png" alt="")
                        .reviews__content 
                            .reviews__item-title Lemania school, switzerland
                            .reviews__text “We started working with Study Match a few months ago and they’ve already proved themselves to be a very professional partner that helps us to run lead generation and digital marketing campaigns in the Middle East and Russian markets. What we like about them is that they use non-traditional ways of marketing and the results are way better than we used to have in the past.”

                li.reviews__item
                    .reviews__item-w
                        .reviews__icon
                            img(src="assets/images/content/partner-5.png" alt="")
                        .reviews__content 
                            .reviews__item-title Lemania school, switzerland
                            .reviews__text “We started working with Study Match a few months ago and they’ve already proved themselves to be a very professional partner that helps us to run lead generation and digital marketing campaigns in the Middle East and Russian markets. What we like about them is that they use non-traditional ways of marketing and the results are way better than we used to have in the past.”

                li.reviews__item
                    .reviews__item-w
                        .reviews__icon
                            img(src="assets/images/content/partner-6.png" alt="")
                        .reviews__content 
                            .reviews__item-title Lemania school, switzerland
                            .reviews__text “We started working with Study Match a few months ago and they’ve already proved themselves to be a very professional partner that helps us to run lead generation and digital marketing campaigns in the Middle East and Russian markets. What we like about them is that they use non-traditional ways of marketing and the results are way better than we used to have in the past.”


                li.reviews__item
                    .reviews__item-w
                        .reviews__icon
                            img(src="assets/images/content/partner-7.png" alt="")
                        .reviews__content 
                            .reviews__item-title Lemania school, switzerland
                            .reviews__text “We started working with Study Match a few months ago and they’ve already proved themselves to be a very professional partner that helps us to run lead generation and digital marketing campaigns in the Middle East and Russian markets. What we like about them is that they use non-traditional ways of marketing and the results are way better than we used to have in the past.”