mixin online(data)
    section.online.section&attributes(attributes)
        .section__in.in
            h2.section__title.title.title_big <span>ONLINE</span> Marketing Events:

            .section__row
                .section__image(data-title="ONLINE Marketing")
                    img.lazy(data-src="assets/images/content/online-img.jpg", alt="")
                .section__content
                    ul.section__list(data-title="ONLINE Marketing")
                        li.section__item – Lead-generation campaign with a guaranteed number of <br/>quality leads
                        li.section__item – StudyMatching TV webinar for up to 1000 participants with a personal <br/>landing page: the duration of the webinar is 60 minutes with 1/3 of it <br/>dedicated to your school's promo!
                        li.section__item – Silver Promo Package: post on instagram, post on vk, facebook, <br/>newsletter, post on telegramm channel
                        li.section__item – Video review shooting with a professional filmmaking team
                        li.section__item – Promotion of the video, social media posts on our Youtube channel ad <br/>Instagram channel