mixin examples(data)
    section.examples&attributes(attributes)
        .examples__in.in
            h2.examples__title.title.title_big <span>Ad</span> examples
            
            ul.examples__list
                li.examples__item
                    a.examples__link(href="#")
                        .examples__image
                            img(src="assets/images/content/example-1.jpg", alt="")
                li.examples__item
                    a.examples__link(href="#")
                        .examples__image
                            img(src="assets/images/content/example-2.jpg", alt="")
                li.examples__item
                    a.examples__link(href="#")
                        .examples__image
                            img(src="assets/images/content/example-3.jpg", alt="")
                li.examples__item
                    a.examples__link(href="#")
                        .examples__image
                            img(src="assets/images/content/example-4.jpg", alt="")
                li.examples__item
                    a.examples__link(href="#")
                        .examples__image
                            img(src="assets/images/content/example-5.jpg", alt="")
                li.examples__item
                    a.examples__link(href="#")
                        .examples__image
                            img(src="assets/images/content/example-6.jpg", alt="")
                li.examples__item
                    a.examples__link(href="#")
                        .examples__image
                            img(src="assets/images/content/example-7.jpg", alt="")
                li.examples__item
                    a.examples__link(href="#")
                        .examples__image
                            img(src="assets/images/content/example-8.jpg", alt="")
