mixin why(data)
    section.why&attributes(attributes)
        .why__in.in
            h2.why__title.title.title_big <span>Why</span> choose a StudyMatch PR agency?
            
            .why__w
                ul.why__list
                    li.why__item US based company
                    li.why__item Decrease cost of acquisition of each student
                    li.why__item Smart and efficient lead generation
                    li.why__item Possibility to get presented to our 500+ agents network around the globe
                    li.why__item Save time on building a network of trustful agents in the regions
                    li.why__item Reliable PR and media partners in the regions
                    li.why__item Presence in multiple regions
                    li.why__item 5+ years’ experience in offline and online PR for educational institutions;
                    li.why__item Our extensive partnership network on vk.com <br/>and facebook. This enables us to <br/>reach out to <br/>students faster and cheaper: we can arrange <br/>announcements for our clients at lower costs <br/>or sometimes even free of charge
                    li.why__item We open doors for international students by helping them connect with foreign universities
                    li.why__item We strengthen university brand and enables to promote new/specific programs
                    

                .why__image
                    img.lazy(data-src="assets/images/content/why-img.jpg")