mixin partners(data)
    section.partners.lazy(data-bg="url('assets/images/content/partners-bg.png')")&attributes(attributes)
        .partners__in.in
            h2.partners__title.title.title_big <span>Our</span> partners
            .partners__list
                .partners__row
                    .partners__partner
                        .partners__image
                            img.lazy(data-src="assets/images/content/partner-1.png")
                    .partners__partner
                        .partners__image
                            img.lazy(data-src="assets/images/content/partner-5.png")
                    .partners__partner
                        .partners__image
                            img.lazy(data-src="assets/images/content/partner-6.png")
                .partners__row
                    .partners__partner
                        .partners__image
                            img.lazy(data-src="assets/images/content/partner-2.png")
                    .partners__partner
                        .partners__image
                            img.lazy(data-src="assets/images/content/partner-4.png")
                .partners__row
                    .partners__partner
                        .partners__image
                            img.lazy(data-src="assets/images/content/partner-7.png")
                    .partners__partner
                        .partners__image
                            img.lazy(data-src="assets/images/content/partner-3.png")