mixin map(data)
    .map&attributes(attributes)
        #map.map__object
        .map__in.in
            .map__contacts
                .map__item Address: 1013 Centre Road, Suite 403-B,
                .map__item Wilmington, DE 19805, New Castle.
                .map__item Tel.: <a href='#'>+79507433861</a>
                .map__item E-mail: <a href='#'>sales@studymatch.com</a>
