mixin hero(data)
    section.hero.lazy(data-bg="url('assets/images/content/hero-img.jpg')")&attributes(attributes)
        .hero__in.in
            h1.hero__title.title.title_biggest <span>PR and Marketing Solutions</span>
            h2.hero__subtitle for universities
            a.hero__button.button.open-popup(href="#cta-first") Write to us