mixin cost(data)
    section.cost&attributes(attributes)
        .cost__in.in
            h2.cost__title.title.title_big <span>Our</span> prices

            .cost__row
                .cost__text You can download our price list
                a.cost__button.button(href="#") Download a price list