mixin events(data)
    section.events.section&attributes(attributes)
        .section__in.in
            h2.section__title.title.title_big <span>OFF-SITE</span> Marketing events:
            .section__row
                .section__image(data-title="Marketing")
                    img.lazy(data-src="assets/images/content/events-img.jpg", alt="")
                .section__content
                    ul.section__list(data-title="Marketing")
                        li.section__item – Local presentation of your educational institution
                        li.section__item – Roadshow
                        li.section__item – Promotion of your institution through local schools visits
                        li.section__item – Off-site PR and marketing solutions (magazines, journals,<br/> billboards, newspapers, etc)