mixin attraction(data)
    section.attraction&attributes(attributes)
        .attraction__in.in
            h2.attraction__title.title.title_big <span>Attraction</span> channels
            ul.attraction__channels
                li.attraction__channel
                    a.attraction__link(href="#")
                        .attraction__icon
                            img.lazy(data-src="assets/images/content/channel-1.svg")
                        .attraction__text Context + banner ads
                li.attraction__channel
                    a.attraction__link(href="#")
                        .attraction__icon 
                            img.lazy(data-src="assets/images/content/channel-2.svg")
                        .attraction__text Email marketing
                li.attraction__channel
                    a.attraction__link(href="#")
                        .attraction__icon
                            img.lazy(data-src="assets/images/content/channel-3.svg")
                        .attraction__text Apps/messenders advertising
                li.attraction__channel
                    a.attraction__link(href="#")
                        .attraction__icon
                            img.lazy(data-src="assets/images/content/channel-4.svg")
                        .attraction__text Geotargeting
                li.attraction__channel
                    a.attraction__link(href="#")
                        .attraction__icon
                            img.lazy(data-src="assets/images/content/channel-5.svg")
                        .attraction__text Drip marketing (retargeting campaignis)
                li.attraction__channel
                    a.attraction__link(href="#")
                        .attraction__icon
                            img.lazy(data-src="assets/images/content/channel-6.svg")
                        .attraction__text PPC advertising desktop + Mobile
                li.attraction__channel
                    a.attraction__link(href="#")
                        .attraction__icon
                            img.lazy(data-src="assets/images/content/channel-7.svg")
                        .attraction__text SMM