mixin markets(data)
    section.markets&attributes(attributes)
        .markets__in.in
            h2.markets__title.title.title_big <span>Key</span> Markets We Focus On

            ul.markets__list
                li.markets__item
                    .markets__map
                        img.lazy(data-src="assets/images/content/market-1.png")
                    a.markets__city(href="#") Russia
                li.markets__item
                    .markets__map
                        img.lazy(data-src="assets/images/content/market-2.png")
                    a.markets__city(href="") Kazakhstan
                li.markets__item
                    .markets__map
                        img.lazy(data-src="assets/images/content/market-3.png")
                    a.markets__city(href="") Ukraine
                li.markets__item
                    .markets__map
                        img.lazy(data-src="assets/images/content/market-4.png")
                    a.markets__city(href="") Azerbaijan
                li.markets__item
                    .markets__map
                        img.lazy(data-src="assets/images/content/market-5.png")
                    a.markets__city(href="") Uzbekistan
                li.markets__item
                    .markets__map
                        img.lazy(data-src="assets/images/content/market-6.png")
                    a.markets__city(href="") Vietnam
                li.markets__item
                    .markets__map
                        img.lazy(data-src="assets/images/content/market-7.png")
                    a.markets__city(href="") Georgia
                li.markets__item
                    .markets__map
                        img.lazy(data-src="assets/images/content/market-8.png")
                    a.markets__city(href="") Germany
                li.markets__item
                    .markets__map
                        img.lazy(data-src="assets/images/content/market-9.png")
                    a.markets__city(href="") France
                li.markets__item
                    .markets__map
                        img.lazy(data-src="assets/images/content/market-10.png")
                    a.markets__city(href="") Austria
                li.markets__item
                    .markets__map
                        img.lazy(data-src="assets/images/content/market-11.png")
                    a.markets__city(href="") Afrika
                li.markets__item
                    .markets__map
                        img.lazy(data-src="assets/images/content/market-12.png")
                    a.markets__city(href="") UAE
                li.markets__item
                    .markets__map
                        img.lazy(data-src="assets/images/content/market-13.png")
                    a.markets__city(href="") Katar
                li.markets__item
                    .markets__map
                        img.lazy(data-src="assets/images/content/market-14.png")
                    a.markets__city(href="") Kuwait
                li.markets__item
                    .markets__map
                        img.lazy(data-src="assets/images/content/market-15.png")
                    a.markets__city(href="") China
